<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="wrap">
    <div class="form-wrapper">
        <form th:method="POST" th:action="@{/}" th:object="${user}">
            <div>
                <label for="name">Name:</label>
                <br/>
                <input type="text" th:field="*{name}" id="name" required/>
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div>
                <label for="surname">Surname:</label>
                <br/>
                <input type="text" th:field="*{surname}" id="surname" required/>
                <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
            </div>
            <div>
                <label for="age">Age:</label>
                <br/>
                <input type="text" th:field="*{age}" id="age" required/>
                <div class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
            </div>
            <input type="submit" value="create"/>
        </form>
    </div>
</div>
</body>
</html>